

@font-face {   
      font-family: personajes;
      src: url(../font/FriendlyStranger.otf);
}

@font-face {
      font-family: titulo;
      src: url(../font/PaintersDisplay-DEMOONLY.otf);
}

html {
      scroll-behavior: smooth;
}

/********** Estilo general ****************/

* {box-sizing:border-box;}   

body {margin:0;padding:0;   
      font-family: textonormal;
      background-color: black;
      background-repeat: no-repeat;
      
      }

#wrapper {
          background-color: black;
          width:100%;        
          margin:auto;}     



/************************** BARRA DE NAVEGACIÓN ( DE W3 SCHOOLS) ********/
nav {
      position: sticky;
      top: 0;
      z-index: 1;
  }
  
  .topnav {
      background-color: #1a1a1a; 
      overflow: hidden;
      border-bottom: 4px solid #edd600; 
      border-radius: 15px; 
  }
  
  .topnav a {
      float: left;
      display: block;
      color: #edd600; 
      text-align: center;
      padding: 14px 24px; 
      text-decoration: none;
      font-size: 1.2em;
      transition: background-color 0.3s, color 0.3s;
      border-radius: 15px; 
      margin: 0 8px;
  }
  
  .topnav a:hover {
      background-color: #363636; 
      color: #fff; 
  }
  
  .topnav a.active {
      background-color: #b71c1c; 
      color: #fff; 
      
  }
  
  .topnav .icon {
      display: none;
  }
  
  .fa-arrow-circle-up {
      position: fixed;
      bottom: 25px;
      left: 1790px;
      font-size: 2rem !important;
      color: #1a1a1a;
      z-index: 2;
      transition: color 0.3s;
      padding: 10px;
  }
  
  .fa-arrow-circle-up:hover {
      color: #757575; 
  }

/***************************   HERO SECTION *********************************/

#hero {background-image: url(../img/strangerfondo.png);
                         height:50vh;     
                         background-size: 100% 100%;
                         background-position:center;
                         position:relative;  
                         width: 100%;
                        }
                       

#hero button {background-color:#808080;
              color:white;
              font-weight: bold;
              padding:10px;
              font-size: 1.2em;
              border:none;
              border-radius: 10px;
              position:absolute;
              top:70%;
              left:50%;
              transform:translate(-50%,-50%); 
             
}

#hero button:hover{
      background-color: black;
      color: grey ;
      border: 2px solid grey;
}


/******************galeria***************************/
.container {
      max-width: 1200px;
      margin: 0 auto; 
      padding: 16px;
  }
  
  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 16px;
  }
  
  .gallery-item {
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  .gallery-item img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 8px;
  }


/***************INTRO SECTION GRID-2**************/

.title{
      font-family: titulo;
      padding-top: 6vh;
      text-align: center;
      font-size: 1.8em;
      color: white;
}


#intro .texto {
      color: red;
      font-family: personajes;
      font-size: 1.2em;
  }
/****************TITULO DE PERSONAJES ************************/

#season {
      text-align: center;
      
  }

  #season h1 {
      margin-bottom: 20px;
      font-size: 2.5em;
  }

/*************** SEASONS SECTION (GRID DE 4) ***************/

.grid-4 {
      display: grid;
      grid-template-columns: 100%;
}

/*** estilo de la card dentro del grid 4 ***/

  
 
.card{
      border: 1px solid grey;
      padding: 4%;
      border-radius: 5%;
      background-color: black;
      color: rgb(252, 2, 2);
      transition: 1s;
      opacity: 0.7;
      font-family: personajes;
}

.card:hover{
      box-shadow: #808080 3px 3px 3px;
      opacity: 1;
      
}

.card img{
      width: 100%;
      border-radius: 5%;
      transform: scale(1);
}

.card:hover ~ img{
      transform: scale(1.25);
}

.card button{
      border: none;
      text-align: center;
      padding: 10px;
      background: none;
      display: block;
      right: 50px;
      align-items: center;
      width: 15%;
      height: 10%;

      
}

#informacion {
            display: none; 
      }
#informacion2{
      display: none;
}
#informacion3{
      display: none
}
#informacion4{
      display: none
}
#informacion5{
      display: none
}
#informacion6{
      display: none;
}
#informacion7{
      display: none;
}
#informacion8{
      display: none;
}

#season .container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; 
    }
    
#season .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
/* prediction section*/
*, *::before, *::after {
      padding: 0;
      margin: 0 auto;
      box-sizing: border-box;
    }
    
    #prediction {
      font-family: 'Open Sans', sans-serif;
      background-color: fuchsia;
      color: #fff;
      text-align: center;
      padding: 3em 1em;
    }
    .accordion {
      max-width: 60%;
      text-align: left;
    }
    
    
    article {
      border: 1px solid #fff;
      padding: 1em;
      margin: 1em auto;
    }
    
    input[type="radio"] {
      appearance: none;
      position: fixed;
      top: -100vh; left: -100vh;
    
      & ~ div {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
      }
    
      &:checked ~ div {
        max-height: 200px;
      }
    }
/**************** temporadas *************************/
#temporadas .texto{
      color: red;
      font-family: personajes;
      font-size: 1.2em;
}
ul {
      list-style-type: none; /* Elimina los puntos predeterminados */
      padding-left: 0; /* Elimina el espacio izquierdo predeterminado */
      color: red;
      font-size: 1.2em;
      font-family: personajes;
      
  }

  li::before {
      content: "\2022"; /* Código del carácter de punto */
      color: white; /* Color opcional */
      display: inline-block;
      width: 1em; /* Ajusta el espacio entre el punto y el texto */
      margin-left: -1em; /* Ajusta el espacio izquierdo del punto */
  }
  a {
      color: white; /* Cambia el color a tu preferencia, en este caso, azul oscuro */
      text-decoration: none; /* Quita el subrayado */
      font-size: 0.9em;
      font-family: personajes;
  }

  /* Cambia el color cuando el enlace es 'hovered' (pasas el ratón sobre él) */
  a:hover {
      color: #ff6600; /* Cambia el color a tu preferencia cuando pasas el ratón sobre el enlace */
  }
/**************** PRODUCCIÓN**************************/

#produccionimg{
      width: 100%; /* 1 columna mobile first*/
      display: block;
      margin: auto;
}
#produccion .texto {
      color: red;
      font-family: personajes;
      font-size: 1.2em;
  }


/*************FOOTER********************************/
footer{
      background-color:rgb(252, 2, 2);
      color: white;
      text-align: center;
      
}
.grid-3d{
      display: grid;
      grid-template-columns: 50% 50%;
      
}
.col-4{padding: 4%;}
footer .fa{
      font-size: 1.5em;
      margin-right:10px ;/*Para separarlo*/
      padding: 16px 10px;
      width: 50px;
      text-align: center;
      margin:  5px 10px;
      border-radius: 50%;


}
footer a {
      color: white;
}
footer .fa-facebook{background-color: #3b5998;}
footer .fa-twitter{background-color: #55acff;}
footer .fa-whatsapp{background-color: #25d366;}
footer .container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 75%; /* 4:3 Aspect Ratio  */
      }
    
/************** responsividad ****************************************/


/******** tablet **********/
@media only screen and (width>=650px){
      
      #wrapper{
            width: 80%;
            }
      .grid-4{
            grid-template-columns: 50% 50%;
      }


      #hero{
            height: 70vh;
      }
      .title{
            font-size: 2em;
      }
      #temporadas .texto{
            font-size: 1.4em;
      }
      a {
            font-size: 1.1em;
      }
      ul{
            font-size: 1.4em;
      }
      #intro .texto {
            font-size: 1.4em;
      }
      #produccion .texto {
            font-size: 1.4em;
      }
      footer{
            text-align: center;
      }
      
}

/******** PC *****************/
@media only screen and (width>=800px) {
      
      .grid-2{
            grid-template-columns: 50% 50%;
      }
      .grid-3d{
            grid-template-columns: 25% 25% 50%;
      }
      .grid-4{
            grid-template-columns: 25% 25% 25% 25%;
      }
      #hero{
            height: 80vh;
      }
      .title{
            font-size: 2.2em;
      }
      #temporadas .texto{
            font-size: 1.5em;
      }
      a {
            font-size: 1.1em;
      }
      ul{
            font-size: 1.5em;
      }
      #intro .texto {
            font-size: 1.5em;
      }
      #produccion .texto {
            font-size: 1.5em;
      }
      footer{
            text-align: center;
      }
    
}


      
/*******+ mediaqueris de la barra de navegacion******/
@media screen and (max-width: 850px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
      #hero{
            height: 95vh;
      }
    }
    

    @media screen and (max-width: 850px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    } 
   /***************************************responsividad footer***********************************/
   @media only screen and (max-width: 600px) {
      /* Estilos para tabletas */
      .nuevo-grid {
          grid-template-columns: 50% 50%;
      }
  }

  @media only screen and (max-width: 800px) {
      /* Estilos para pantallas más grandes (PC) */
      .nuevo-grid {
          grid-template-columns: 25% 25% 50%;
      }
  }